body{
	align-content: center;
}

h1 {
	font-size: xx-large;
}

#fixed {
	position:fixed;
	background-color: #eee;
	width: 5%;
	height: 10%;

}

#relative{
	position: relative;
	left: 50px;
	height: 200px;
	width: 80%;
	background-color: gray;

}

#absolute{
	position: absolute;
	overflow: auto;
	bottom: 0px;
	right:0px;
	background-color: pink;
	width: 250px;
	height: 30%;
	z-index: 1;
}